################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/QA-back/.vs/QA-back/FileContentIndex/8c59af6d-6f95-43a7-8e77-0bbc4b6bcfab.vsidx
/.gitignore
/QA-back/obj/Debug/net6.0/QA-back.assets.cache
*.vsidx
/QA-back/obj/Debug/net6.0/QA-back.GeneratedMSBuildEditorConfig.editorconfig
*.env
